* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Manrope"; }

body {
  margin: 0px 0px 0px 0px; }

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 72px; }
  header .logo {
    height: 50px;
    width: 50px; }
    header .logo__img {
      width: 100%;
      height: 100%; }

.container {
  width: 100%;
  padding: 0 165px 0 165px; }

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 35px; }
  .header__wrapper-link {
    margin-left: 35px;
    color: black;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none; }
    .header__wrapper-link:first-child {
      margin-left: 0px; }

.header__request {
  display: block;
  margin-left: auto;
  margin-right: 0;
  border: none;
  border-radius: 8px;
  width: 150px;
  height: 55px;
  color: #fff;
  background: -webkit-gradient(linear, left top, right top, from(#474A57), color-stop(51.54%, rgba(255, 205, 131, 0)), to(rgba(255, 187, 85, 0))), #FE9A22;
  background: linear-gradient(90deg, #474A57 0%, rgba(255, 205, 131, 0) 51.54%, rgba(255, 187, 85, 0) 100%), #FE9A22;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  -webkit-transition: 0.2s all;
  transition: 0.2s all; }
  .header__request:hover {
    -webkit-box-shadow: -10px 10px 10px -10px rgba(0, 0, 0, 0.35);
            box-shadow: -10px 10px 10px -10px rgba(0, 0, 0, 0.35);
    background: -webkit-gradient(linear, left top, right top, from(rgba(255, 187, 85, 0)), color-stop(51.54%, rgba(255, 205, 131, 0)), to(#474A57)), #FE9A22;
    background: linear-gradient(90deg, rgba(255, 187, 85, 0) 0%, rgba(255, 205, 131, 0) 51.54%, #474A57 100%), #FE9A22; }

.title {
  font-weight: 800;
  font-size: 72px;
  color: #18191F;
  z-index: 1; }
  .title-sub {
    font-size: 48px; }
    .title-sub-portfolio {
      text-align: center; }

.mainpage {
  background: url(../img/bg.png) center center/cover no-repeat;
  min-height: 794px;
  position: relative;
  z-index: 1; }
  .mainpage__wrapper {
    margin-top: 168px;
    width: 730px;
    height: 290px;
    z-index: 1; }
    .mainpage__wrapper-btn {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      text-decoration: none;
      margin-top: 32px;
      border-radius: 8px;
      background: -webkit-gradient(linear, left top, right top, from(#474A57), color-stop(51.54%, rgba(255, 205, 131, 0)), to(rgba(255, 187, 85, 0))), #FE9A22;
      background: linear-gradient(90deg, #474A57 0%, rgba(255, 205, 131, 0) 51.54%, rgba(255, 187, 85, 0) 100%), #FE9A22;
      width: 196px;
      height: 62px;
      outline: none;
      border: none;
      font-size: 20px;
      text-align: center;
      color: #FFFFFF;
      cursor: pointer;
      -webkit-transition: 0.2s all;
      transition: 0.2s all; }
      .mainpage__wrapper-btn:hover {
        -webkit-box-shadow: -10px 10px 10px -10px rgba(0, 0, 0, 0.45);
                box-shadow: -10px 10px 10px -10px rgba(0, 0, 0, 0.45);
        background: -webkit-gradient(linear, left top, right top, from(rgba(255, 187, 85, 0)), color-stop(51.54%, rgba(255, 205, 131, 0)), to(#474A57)), #FE9A22;
        background: linear-gradient(90deg, rgba(255, 187, 85, 0) 0%, rgba(255, 205, 131, 0) 51.54%, #474A57 100%), #FE9A22; }
    .mainpage__wrapper-img {
      width: 800px;
      position: absolute;
      right: 0%;
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%);
      z-index: -1;
      cursor: pointer; }

.whoami {
  padding-top: 64px;
  padding-bottom: 64px; }
  .whoami__img {
    display: block;
    width: 540px;
    height: 540px;
    margin-right: 0px;
    -webkit-filter: drop-shadow(-10px 10px 10px rgba(0, 0, 0, 0.45));
            filter: drop-shadow(-10px 10px 10px rgba(0, 0, 0, 0.45)); }
  .whoami__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 0;
    color: #18191F; }
    .whoami__wrapper-next {
      margin-top: 32px; }
      .whoami__wrapper-next-link {
        color: #F2994A;
        font-weight: bold;
        cursor: pointer;
        text-decoration: none;
        -webkit-transition: 0.5s all;
        transition: 0.5s all; }
        .whoami__wrapper-next-link:hover {
          color: #18191F; }
  .whoami__descr {
    padding-left: 48px;
    padding-right: 48px;
    margin-left: 30px;
    width: 540px;
    height: 340px; }

.subtitle {
  font-size: 18px;
  margin-top: 32px;
  line-height: 32px; }

.mt-8 {
  margin-top: 8px;
  text-align: center; }

.portfolio {
  min-height: 672px;
  padding-bottom: 64px;
  padding-top: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .portfolio__wrapper {
    margin-top: 48px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .portfolio__wrapper-item {
      width: 350px;
      height: 150px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      text-decoration: none; }
      .portfolio__wrapper-item:nth-child(n+4) {
        margin-top: 64px; }
      .portfolio__wrapper-item-img {
        height: 32px; }
      .portfolio__wrapper-item-title {
        margin-top: 24px;
        font-family: Manrope;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        color: #18191F;
        text-align: center; }
      .portfolio__wrapper-item-subtitle {
        margin-top: 8px;
        font-family: Manrope;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        color: #18191F; }

.tal {
  text-align: left; }

.feedback {
  position: relative;
  min-height: 900px;
  padding-top: 64px;
  padding-bottom: 80px;
  background: #D5FAFC;
  z-index: -1; }
  .feedback__quotemark {
    position: absolute;
    width: 143px;
    height: 120px;
    left: 165px;
    top: 64px;
    z-index: -2; }
    .feedback__quotemark img {
      opacity: 0.3;
      width: 100%;
      height: 100%; }
  .feedback__header {
    width: 445px;
    height: 104px;
    margin-top: 56px;
    margin-left: 95px; }
  .feedback__item {
    position: absolute;
    left: 800px;
    top: 168px;
    width: 445px;
    min-height: 340px;
    padding: 32px;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
            box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
    border-radius: 8px; }
    .feedback__item-second {
      position: absolute;
      left: 220px;
      top: 312px;
      padding: 32px;
      background: #FFFFFF;
      -webkit-box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
              box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
      border-radius: 8px; }
    .feedback__item-third {
      position: absolute;
      left: 735px;
      top: 570px;
      padding: 32px;
      background: #FFFFFF;
      -webkit-box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
              box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
      border-radius: 8px; }
    .feedback__item-logo {
      height: 40px;
      margin-bottom: 32px; }
      .feedback__item-logo-img {
        height: 100%; }
    .feedback__item-quotemark {
      position: absolute;
      width: 16px;
      height: 14px; }
      .feedback__item-quotemark-img {
        opacity: 0.3;
        width: 100%;
        height: 100%; }
    .feedback__item-text {
      margin-left: 32px;
      width: 349px;
      font-weight: normal;
      font-size: 18px;
      line-height: 32px; }
    .feedback__item-author {
      margin-top: 24px;
      margin-left: 32px;
      font-weight: bold;
      font-size: 18px;
      line-height: 28px; }
      .feedback__item-author span {
        display: block;
        font-weight: 500;
        font-size: 14px;
        line-height: 24px; }

.price {
  min-height: 332px;
  padding-top: 80px;
  padding-bottom: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .price__wrapper {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .price__wrapper-title {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .price__wrapper-items {
      height: 100%;
      width: 540px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .price__wrapper-items-item {
        width: 255px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        .price__wrapper-items-item:nth-child(1) {
          margin-bottom: 40px; }
        .price__wrapper-items-item:nth-child(2) {
          margin-bottom: 40px; }
        .price__wrapper-items-item-img {
          height: 48px;
          margin-right: 16px; }
        .price__wrapper-items-item-text {
          font-family: Manrope;
          font-style: normal;
          font-weight: 800;
          font-size: 28px;
          line-height: 40px;
          color: #18191F; }
          .price__wrapper-items-item-text span {
            display: block;
            font-family: Manrope;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 26px; }

.connect {
  min-height: 350px;
  background: #2EC5CE;
  padding: 68px 0 68px 0; }
  .connect__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .connect__wrapper-address {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      width: 250px; }
      .connect__wrapper-address i {
        margin-right: 10px;
        width: 32px;
        height: 32px; }
      .connect__wrapper-address .item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        color: #18191F;
        margin-left: 10px;
        font-size: 16px;
        text-align: center;
        vertical-align: middle;
        text-decoration: none;
        color: #18191F; }
        .connect__wrapper-address .item:hover {
          font-weight: 600; }

.modal {
  position: fixed;
  overflow: auto;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100vw;
  height: 100vh;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 3; }
  .modal__close {
    position: absolute;
    right: 20px;
    top: 15px;
    font-size: 25px; }
    .modal__close:hover {
      cursor: pointer; }
  .modal__title {
    margin: 0 auto;
    text-align: right; }
  .modal__window {
    position: relative;
    padding: 25px;
    display: block;
    width: 500px;
    height: 500px;
    border-radius: 10px;
    background: -webkit-gradient(linear, left top, right top, from(#474A57), color-stop(51.54%, rgba(255, 205, 131, 0)), to(rgba(255, 187, 85, 0))), #FE9A22;
    background: linear-gradient(90deg, #474A57 0%, rgba(255, 205, 131, 0) 51.54%, rgba(255, 187, 85, 0) 100%), #FE9A22; }
    .modal__window-form {
      margin-top: 40px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      height: 150px; }

.mail {
  height: 40px;
  width: 200px;
  border-radius: 5px;
  border: none;
  outline: none;
  padding-left: 10px; }

.name {
  height: 40px;
  width: 200px;
  border-radius: 5px;
  border: none;
  outline: none;
  padding-left: 10px; }

.button {
  height: 30px;
  width: 100px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: rgba(41, 41, 42, 0.8);
  color: #fff; }
  .button:hover {
    -webkit-box-shadow: -5px 5px 5px -5px rgba(0, 0, 0, 0.8);
            box-shadow: -5px 5px 5px -5px rgba(0, 0, 0, 0.8); }

.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

/*# sourceMappingURL=style.css.map */